# Configuration des clés API AgriTech
# Renommez ce fichier en .env

# Secret key pour Flask
SECRET_KEY=votre_cle_secrete

# APIs externes
OPENWEATHER_API_KEY=votre_cle_openweather
AIRVISUAL_API_KEY=votre_cle_airvisual
AGROMONITORING_API_KEY=votre_cle_agromonitoring
OPEN_ROUTER_KEY=votre_cle_openrouter

# Configuration du port
PORT=8000 